.kiri {
    float: left;
}

.kanan {
    float: right;
}

.sanserif {
    font-family: sans-serif;
}    

.white {
    background-color: white;
}    

.judul{
    color: cornflowerblue;
}    

body {
    background-color: beige;
}        

a {
    text-decoration: none;
    color: inherit;
}        

.topbar {
    width: calc(100%-40px);
    height: 80px;
    background-color: orangered;
    }

.topbar-tombol {
    margin-top: 28px;
    margin-right: 20px;
}        

.topbar a{
    background-color: crimson; 
    color: aliceblue; 
    border-radius: 4px ; 
    padding: 15px;
    font-size: 16pt;
}        

.topbar-search {
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}        

.topbar-search button,input{
    font-size: 16pt;
}        

.top-week {
    margin-top: 10px;
    background-color: white;
    border-top: 4px solid orangered;
}

.top-week h2 {
    color: orangered;
    margin: 0;
    top: 10;
    position: absolute;
}

.slider {
    margin-top: 10px;
    height: 200px;
    overflow: hidden;
    float: left;
}

.slider img {
    padding-left: 35px;
}

.latest-update {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    padding-top: 0px;
    margin-top: 230px;
    border: 2px solid #dedede;
}

.latest-update h2 {
    margin-top: 0;
    font-size: 14pt; 
    color: cornflowerblue; 
    border-bottom: 2px solid #dedede;
}

.latest-update h3 {
    margin-top: 4px;
}

.latest-update p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-update-kiri {
    width: 49%;
    float: left;
}

.latest-update-kanan {

    width: 49%;
    float: right;
}

.latest-update-kotak {
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    height: 144px;
    float: left;
}

.latest-update-kotak-tulisan {
    padding-left: 110px;
}

.latest-update img {
    height: 144px;
    float: left;
}