body {
    background-color: beige;
}

a {
    text-decoration: none;
    color: inherit;
}

.topbar {
    width: calc(100%-40px);
    height: 80px;
    background-color: orangered;
    }

.topbar-tombol {
    margin-top: 28px;
    margin-right: 20px;
}

.topbar-search {
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}

.logo {
    font-size: 15pt;
}


.topbarbutton{
    background-color: crimson; 
    color: aliceblue; 
    border-radius: 4px ; 
    padding: 15px;
    font-size: 16pt;
}

.search {
    font-size: 16pt;
}

.sanserif {
    font-family: sans-serif;
}

.white {
    background-color: white;
}

.judul{
    color: cornflowerblue;
}

.kiri {
    float: left;
}

.kanan {
    float: right;
}

.top {
    margin-top: 10px;
    background-color: white;
    border-top: 4px solid orangered;
}

.topweek {
    color: orangered;
    margin: 0;
    top: 10;
    position: absolute;
}

.slider {
    height: 200px;
    overflow: hidden;
    float: left;
}