.judul{
    font-family: sans-serif;
    float: left;
    background-color: white;
    color: cornflowerblue;
}    

body {
    background-color: beige;
}        

a {
    text-decoration: none;
    color: inherit;
}        

a:hover {
    color: orange;
}

.topbar {
    width: calc(100%-40px);
    height: 80px;
    background-color: orangered;
    }

.topbar-tombol {
    float: right;
    margin-top: 28px;
    margin-right: 20px;
}        

.topbar a{
    background-color: crimson; 
    color: aliceblue; 
    border-radius: 4px ; 
    padding: 15px;
    font-size: 16pt;
}        

.topbar-search {
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}        

.topbar-search button,input{
    font-size: 16pt;
}        

.top-week {
    margin-top: 10px;
    background-color: white;
    border-top: 4px solid orangered;
}

.top-week h2 {
    color: orangered;
    margin: 0;
    top: 10;
    position: absolute;
}

.slider {
    margin-top: 10px;
    height: 200px;
    overflow: hidden;
    float: left;
}

.slider img {
    padding-left: 35px;
}

.latest-update {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 69%;
    padding-top: 0px;
    background-color: white;
    margin-top: 20px;
    border: 2px solid #dedede;
    float: left;
}

.latest-update h2 {
    margin-top: 0;
    font-size: 14pt; 
    color: cornflowerblue; 
    border-bottom: 2px solid #dedede;
}

.latest-update h3 {
    margin-top: 4px;
}

.latest-update p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-update-kiri {
    width: 49%;
    float: left;
}

.latest-update-kanan {

    width: 49%;
    float: right;
}

.latest-update-kotak {
    margin-bottom: 10px;
    width: 100%;
    height: 144px;
    float: left;
}

.latest-update-kotak-tulisan {
    padding-left: 110px;
}

.latest-update img {
    height: 144px;
    float: left;
}

.popular {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 29%;
    padding-top: 0px;
    background-color: white;
    margin-top: 20px;
    border-bottom: 2px solid #dedede;
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
}

.popular-judul {
    border-top: 2px solid orangered;
    border-bottom: 2px solid #dedede;
    list-style: 0;
    top: 0;
}

.popular h2 {
    margin-bottom: 0;
    margin-top: 0;  
    font-size: 14pt; 
    color: aliceblue; 
    background-color: orangered;
    width: 230px;
}

.popular-list {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 18px;
}

.popular-list-point {
    float: left;
    background: #31a95b;
    border-radius: 50%;
    color: #fff;
    height: 10px;
    width: 10px;
    text-align: center;
    margin: 5px;
    padding: 0px;
}

.popular-list p {
    font-weight: bold;
    margin-left: 20px;
    height: 18px;
    font-size: 14pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new {
    float: right;
    overflow: hidden;
    width: 29%;
    background-color: white;
    padding-top: 0px;
    margin-top: 20px;
    border-bottom: 2px solid #dedede;
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
}

.new h2 {
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 14pt; 
    color: aliceblue; 
    background-color: orangered;
    width: 125px;
}

.new-list {
    height: 220px;
    float: left;
    border-top: 2px solid #dedede;

}

.new-list img {
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
    height: 100px;
}